<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= student.name %></div>
    <div class="ui touched attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= student.passport %>">
            <div class="content">
                <span><%= student.created.toDateString() %></span>
                <p><%= student.age %></p>
            </div>
            <a class="ui orange basic button" href="/students/<%= student._id %>/edit">Edit</a>
            <form id="delete" action="/students/<%= student._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>